.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-color: rgb(255, 255, 255);
}
.div .container2{

}
.div .countainer3 img{
    margin-top: 0px;
    width: 300px;
   
}
.div .countainer1 img{
    margin-top: 0px;
    width: 550px;
    
}

.NameContainer{
    display: inline-block;
    margin-right: 50px;
}
.AudioContainer{
    margin-left: 50px;
    display: inline-block;
}

@media (max-width: 1450px) {
    
}