.about{
    padding: 150px;
    background-color: rgb(25, 25, 25);
}

.aboutTitles{
    text-align: center;
}

.aboutTitlesTitle{
    font-size: 20px;
    font-weight: 100;
    color: #FE4A49;
}

.aboutTitlesSubtitle{
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.aboutCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.aboutCardsCard{
    height: 600px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.aboutCardsCardImage{
    height: 60%;
}

.aboutCardsCardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutCardsCardData{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.aboutCardsCardDataTitle{
    font-size: 20px;
    font-weight: 800;
}

.aboutCardsCardDataSubtitle{
    max-width: 80%;
    margin: 20px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}

.aboutCardsCardDataButton{
    font-size: 15px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: #FE4A49;
}
.aboutCardsCardDataButton:hover{
    cursor: pointer;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

@media(max-width: 1410px){
    .aboutCards{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 1100px){
    .about{
        padding: 40px;
    }
    .aboutCardsCard{
        height: auto;
    }
    .aboutCardsCardImage{
        height: auto;
    }
    .aboutCardsCardData{
        height: auto;
        padding: 40px 0;
    }
}